* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


/* font-family: 'Cabin', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */


.home {
    background-image: url("/images/diego-ph-5LOhydOtTKU-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: center;
    width: auto;
    height: 100vh;
}

.heading {
    color: #fff;
    text-align: center;
    padding: 13%;
    font-size: 500%;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5vh;

}




.head {
    color: #fff;
    text-align: center;
    font-size: 300%;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding-top: 2%;
    letter-spacing: 1vh;
   
}

.para {
    color: #fff;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    text-transform: capitalize;
    margin-top: 5%;
}

.about {
    width: auto;
    background-color: #222121;
    height: 60vh;
}


.scroll {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    
}



.text {
    color:#fff;
    text-align: center;
    margin-top: -8%;
    font-size: 200%;
    font-family: 'Poiret One', cursive;
    letter-spacing: 2vh;

}

.work {
    color: #fff;
    width:auto;
    height: 100vh;

}

.head1 {
    color:#fff;
    text-align: center;
    font-size: 300%;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1vh;
    padding: 1%;
    padding-top: 5%;
}

.card {
    margin-left: 5%;
}
.cards {
    display: flex;
    flex-direction: row;
}

.prize {
    width: auto;
    background: rgba(0,0,0,0.6);
    height: 100%;
  
}

.prize::before{
    position: absolute;
    background-attachment: fixed;
    background-image: url("/images/kristopher-roller-zepnJQycr4U-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
}

.head2{
    color: #fff;
    font-family: 'Raleway', sans-serif; 
    letter-spacing: 1vh;
    font-size: 300%;
    text-align: center;
    padding: 2%;
}

.slide {
    margin-top: -5%;
}

.head3 {
    color:#fff;
    letter-spacing: 1vh;
    font-family: 'Raleway', sans-serif; 
    font-size: 300%;
    text-align: center;
    padding: 2%;
}



.skill {
    width: auto;
    background-color: lightslategrey;
    height: 100vh;
    margin-top: -5%;
}

.para {
    color:#fff;
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    text-align: center;

}

