* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    text-transform: capitalize;
    margin-right: 3vh;
}


/* font-family: 'Nunito', sans-serif;

font-family: 'Poppins', sans-serif;

font-family: 'Raleway', sans-serif; */
.image{
    margin-top: 0;
    margin-left: 5vh;
    width: 10vh;
    height: 10vh;
}

.head {
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 3vh;
    font-weight: bolder;
    color: white;
    font-family: 'Nunito', sans-serif;
}

a {
    margin-right: 20vh;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    font-size: 3vh;
}

.nav {
    display: flex;
}

.links {
    display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 50vh;
}

.heading {
    color: white;
    margin-top: 30vh;
    margin-left: 15vh;
    font-weight: bolder;
    font-size: 5vh;
    font-family: 'Poppins', sans-serif;
}
.h {
    color: rgb(6, 245, 173);
    font-weight: bolder;
    margin-left: 32vh;
     margin-top: -1.5em;
    font-size: 5vh;
    font-family: 'Poppins', sans-serif;
}

.name {
    color: rgb(6, 245, 173);
    font-weight: bolder;
    margin-left: 15vh;
     margin-top: 0.5em;
    font-size: 5vh;
    font-family: 'Poppins', sans-serif;
}

.work {
    color: white;
    margin-top: 3vh;
    margin-left: 15vh;
    font-weight: bolder;
    font-size: 5vh;
    font-family: 'Poppins', sans-serif;
}

.section {
    position: relative;
    top:-10vh;
    
}


.hexagon {
    width: 50vh;
    height: 50vh;
    background-color: rgb(6, 245, 173);
    position: absolute;
    top:-10vh;
    right: 20vh;
    clip-path: circle(50% at 50% 50%);
    
}


#image {
    position: absolute;
    top: -35vh;
    left: 5vh;
}

.para1 {
    width: 50vh;
    color: white;
    margin-left: 15vh;
    margin-top: 5vh;
    font-family: 'Nunito', sans-serif;
    text-transform:uppercase;
}

.btn {
    width: 20vh;
    height: 10vh;
    background-color: rgba(6, 245, 193, 0.808);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vh;
    font-family: 'Raleway', sans-serif;
    border-radius: 10%;
    color: red;
    border: 0px solid black;
    margin: 5vh 0 0 15vh;
    box-shadow: 5px 5px 5px rgb(6, 245, 173);
}

.btn:hover {
    background-color: red;
    color: rgba(6, 245, 193, 0.808);
}

/* .social {
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left:160vh;
    margin-top: -10vh;
} */

/* Will do this tommorow*/