* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Nunito', sans-serif;

font-family: 'Poppins', sans-serif;

font-family: 'Raleway', sans-serif; */

.logo {
    width:12%;
    margin-top: -4%;
    margin-left: -1%;
}



.line {
    width: auto;
    height: 15vh;
}

#poster {
    margin-left: 35%;
}

.post {
    margin-left: 15%;
}

.credits {
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.s3 {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    margin-right: 5vh;
}

